@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F7F7F7;
    font-family: 'Poppins', sans-serif;
}

main {
    background-color: #F7F7F7;
    min-height: 100vh;
    max-width: 1349px;
    margin: 20vh 5vw;
    display: flex;
    flex-wrap: wrap;
}

.measurement {
    background: #FFFFFF;
    width: 74px;
    flex: 1 1 74px;
    display: flex;
    flex-direction: column;
    height: 60vh;
    border-radius: 10px;
}

.custom {
    display: flex;
    color: #2e469d;
    align-items: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 510px;
    height: 510px;
    position: relative;
}

.box1 {
    height: 150px;
    width: 150px;
    background: #8189a7;
    position: absolute;
}

span {
    color: #8189a7;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.75;
    margin-top: 4px;
    padding: 8px;
    width: 100%;
}

.measurement .btn {
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    color: #65469E;
    height: 74px;
    border: none;
    background: #FFFFFF;
    position: relative;
}

.measurement .btn::after {
    content: "";
    height: 100%;
    top: 0;
    left: 0;
    width: 3px;
    position: absolute;
}

.measurement .btn-bg {
    background: #e6f9f5;
    color: #2E4CAF;
}

.measurement .btn-bg::after {
    background: #9BE8D8;
}

.stock-size {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    background: #FFFFFF;
    border-width: 5px;
    color: #808080;
    font-family: "basis-grotesque-regular-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    flex: 1 1 242px;
    height: 50vh;
    border-radius: 10px;
}

.stock-size .scroll,
.stock-size .btn-bg {
    font-family: "basis-grotesque-bold", Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-color: #ffffff;
    color: #8189a7;
    cursor: pointer;
    font-size: 14px;
    height: 40px;
    margin-bottom: 2px;
    outline: none;
    padding: 5px 25px;
    padding-left: 20px;
    text-align: left;
    line-height: 2.1;
    font-weight: 600;
    width: 100%;
    border: none;
    transition: all 0.3s ease-in-out;
}

.scroll {
    position: relative;
}

.scroll::after {
    content: "";
    height: 100%;
    top: 0;
    left: 0;
    width: 3px;
    position: absolute;
}

.btn-bg::after {
    background: red;
}

.stock-size .btn-bg {
    color: #2e469e;
    background: #F4F4F4;
    border-radius: 10px 10px 0 0;
    height: 50px;
}

.stock-size .scroll:hover {
    background: #F4F4F4;
}

.stock-size .bg {
    color: #2e469e;
    background: #e6f9f5;
}

.select-side {
    background: transparent;
    flex: 1 1 510px;
    text-align: center;
}

.select-side .btn2 {
    background-color: #ffffff;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: #2e469e;
    cursor: pointer;
    height: auto;
    padding: 0.8rem 24px;
    width: 25%;
    border: none;
}

.product-box {
    border-width: 5px;
    color: #808080;
    font-family: "basis-grotesque-regular-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    flex: 1 1 232px;
    max-height: 100%;
    min-height: 100%;
    border-bottom: none;
    border-top-left-radius: 10px;
    background-color: #ffffff;
}

.product-box h3 {
    font-family: "Tiempos Text", Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    color: #2e469e;
    padding-bottom: 10px;
    padding: 16px 24px;
}

.product-box .pro-box {
    font-size: 14px;
    font-weight: 200;
    color: #8288a4;
    line-height: 1.5em;
    padding: 16px 24px;
}

.product-box a {
    text-decoration: underline;
    font-weight: 200;
    font-size: 12px;
}

.product-box .items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: 2px solid #f4f4f4;
    min-height: 60px;
    padding: 16px 24px;
    font-family: "basis-grotesque-bold", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.label {
    color: #8189a7;
}

.value {
    color: #474b62;
    text-align: right;
    width: 60%;
    height: auto;
    font-size: 14px;
    font-weight: 700;
}

.product {
    border: 2px solid #ccd4ed;
    border-radius: 5px;
    background: #fcfcfc;
    box-shadow: inset 2px 2px 6px 0 rgb(71 78 102 / 10%);
    color: #474e66;
    height: 40px;
    margin-right: -16px;
    text-align: right;
    width: 80px;
}

.sub-total {
    height: 60px;
    display: flex;
    background: #f4f4f4;
    justify-content: space-around;
    align-items: center;
}

.submit-button {
    border: none;
    align-items: center;
    background-color: #2e469e;
    border-bottom-left-radius: 10px;
    color: #ffffff;
    display: flex;
    height: auto;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.share-and-save {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 16px;
}

.rd-i-btn {
    border: 2px solid #e4e7f0;
    border-radius: 20px;
    color: #8189a7;
    font-size: 14px;
    font-family: 'basis-grotesque-bold';
    height: inherit;
    letter-spacing: 0;
    padding: 0px 32px;
    text-transform: none;
    display: flex;
    align-items: center;
}

.signin-or-signup {
    color: #8189a7;
    font-size: 12px;
    font-weight: 200;
    line-height: 1.5em;
    max-width: 40%;
    padding: 8px;
    text-align: center;
}

@media (max-width:786px) {
    .measurement {
        display: flex;
    }
}